/* Random Chat Mobile Styles */

.rb_go_back_icon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    color: white;
    display: none;
}

@media (max-width: 780px) {
    .rb-active .rb_go_back_icon {
        display: block;
    }
}